@import "tailwindcss";

:root {
  --background: #f6faff;
  --foreground: #171717;
  --greenLightPrimary: #43BA9C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green-light-primary: var(--greenLightPrimary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
