@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6faff;
  --foreground: #171717;
  --greenLightPrimary: #43BA9C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}